<div class="panel panel-default" ng-app="app">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Student Dashboard</h3>
    </div>
    <div class="panel-body text-center">
        <table class="table table-bordered table-condensed table-responsive table-striped table-hover" ng-show="bookmarks.length">
            <thead class="table-header">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bookmark in bookmarks">
                    <td>{{bookmarks.Title}}</td>
                    <td>{{bookmarks.Description}}</td>
                    <td>{{bookmarks.Type}}</td>
                    <td>
                        <div class="clearfix">
                            <a class="btn btn-primary btn-sm pull-right" ui-sref="">
                                <i class="fa fa-location-arrow"> View</i>
                            </a>
                        </div>
                </tr>
            </tbody>
        </table>
        </br>

        <a class="btn btn-warning btn-lg" ui-sref="student.addQuack">
            <i class="fa fa-qq"> Quack</i>
        </a>

    </div>
</div>