        <div class="panel panel-default height-100">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Quack Sign In</h3>
            </div>
            <div class="panel-body text-center">
                <div ng-app="directive.g+signin">
                    <google-plus-signin clientid="374089372061-g28ovvr2b4pps4gurf9aluohu3727c0b"></google-plus-signin>
                   <!-- <button class="btn btn-danger" ng-click="authExternalProvider('google');">
                        Sign in with Google 
                   </button> -->
                </div>
            </div>
        </div>

